<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Blogs &amp; Events</h1><br> 
 
<div class="col-md-12">
    <div class="row">

        <!-- Page Blog -->
        <div class="col-md-12" id="blog_page">
            <!-- start Page Blog -->
            <section id="blog-page">

                <!-- Post 1 -->	
                <article id="post-1" class="blog-article">                    
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-1" >Events Blog</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-time"></i> May 28-31, 2019</li>
                                            <li><i class="glyphicon glyphicon-user"></i> Taher Ghaleb</li>
                                        </ul>
                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i>&nbsp;&nbsp; Attended <a target="_blank" href="https://2019.icse-conferences.org">ICSE</a>'19, Montreal, Canada</p>
											<hr>
                                        </div>
										
                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-time"></i> May 26-27, 2019</li>
                                            <li><i class="glyphicon glyphicon-user"></i> Taher Ghaleb</li>
                                        </ul>
                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i>&nbsp;&nbsp; Attended <a target="_blank" href="https://2019.msrconf.org">MSR</a>'19, Montreal, Canada</p>
											<hr>
                                        </div>

                                        
										
                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-time"></i> May 24-25, 2019</li>
                                            <li><i class="glyphicon glyphicon-user"></i> Taher Ghaleb</li>
                                        </ul>
                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i>&nbsp;&nbsp; Attended and presented a poster at <a target="_blank" href="http://semla.polymtl.ca">SEMLA</a>'19, Montreal, Canada</p>
											<hr>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-time"></i> December 1, 2018</li>
                                            <li><i class="glyphicon glyphicon-user"></i> Taher Ghaleb</li>
                                        </ul>
                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i>&nbsp;&nbsp; Participated in the Local Hackathon Day 2018 hosted by Microsoft/GitHub (2<sup>nd</sup>-place winner), Kingston, Ontario, Canada</p>
											<hr>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-time"></i> June 12-13, 2018</li>
                                            <li><i class="glyphicon glyphicon-user"></i> Taher Ghaleb</li>
                                        </ul>
                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i>&nbsp;&nbsp; Attended and presented a poster at <a target="_blank" href="http://semla.polymtl.ca">SEMLA</a>'18, Montreal, Canada</p>
											<hr>
                                        </div>

                                        <ul class="info">
                                            <li><i class="glyphicon glyphicon-time"></i> September 1, 2017</li>
                                            <li><i class="glyphicon glyphicon-user"></i> Taher Ghaleb</li>
                                        </ul>
                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i>&nbsp;&nbsp; Started my doctoral studies at Queen's University (School of Computing) at Kingston, Ontario, Canada.</p>
                                        </div>
                                    </div>	
                                <!-- <a href="" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- End Post 1 -->

                <div class="clear"></div>

            </section>

            <!-- End Page Blog -->

        </div>
    </div>
</div>
</div>
<!-- End .blog -->
