<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Java</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>C & C++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>ASP.NET</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar --> 
		
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Php</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->         </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Database skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Oracle</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>SQL Server</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>MySQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>XML</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Office Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>MS Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Latex</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->   
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Sport</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="65%">
                <div class="skillbar-title"><span>Reading</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Arabic</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->

        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
	
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
             
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>PhD of Computing <span class="duration"><i class="fa fa-calendar color"></i> Sep. 2017 - Present</span></h5>
                <h6><span class="fa fa-book"></span> Queen's University</h6>
                <p>School of Computing - Software Engineering Lab</p>
		<p>Area: Software Re-engineering and Mining Software Repositories</p>
            </li>
            <li>
                <h5>Master of Science <span class="duration"><i class="fa fa-calendar color"></i> Jan. 2012 - Jan. 2016</span></h5>
                <h6><span class="fa fa-book"></span> King Fahd University of Petroleum and Minerals</h6>
                <p>Information and Computer Science Department</p>
		<p>Thesis: Extending Sequence Diagrams for Better Comprehension of Program Control-flow</p>
            </li>
            <li>
                <h5>Bachelor of Science <span class="duration"><i class="fa fa-calendar color"></i> Sep. 2003 - Jul. 2008</span></h5>
                <h6><span class="fa fa-book"></span> Taiz University</h6>
                <p>Information Technology Department</p>
		<p>Project: Telephony Applications & IVR Systems</p>
            </li>        </ul>
        <!-- /.attributes -->
        <br>  
        
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Teaching Assistant <span class="duration"><i class="fa fa-calendar color"></i> Dec. 2008 - Dec. 2011</span></h5>
                <h6><span class="fa fa-briefcase"></span> Taiz University (Full-Time)</h6>
                <p>As a lab instructor for software engineering, programming languages, and operating systems courses.</p>
            </li>
            <li>
                <h5>Software Developer<span class="duration"><i class="fa fa-calendar color"></i> Jan. 2008 - Dec. 2011</span></h5>
                <h6><span class="fa fa-briefcase"></span> Personal Business</h6>
                <p>Develping various information systems for a pharmacy, a hearing & visual clinic, a money-exchange corporation, a school, and an academic institute.</p>
            </li>
            <li>
                <h5>Web Developer<span class="duration"><i class="fa fa-calendar color"></i> Jun. 2015 - Jun. 2016</span></h5>
                <h6><span class="fa fa-briefcase"></span> Outsourcing</h6>
                <p>At two different companies: BIS (Jeddah, SA) and MIMAS (Madinah, SA)</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>

          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Master's Scholarship <span class="duration"><i class="fa fa-calendar color"></i> Jan. 2012 - Jan. 2016</span></h5>
                <h6><span class="fa fa-trophy"></span> Taiz University & KFUPM</h6>
                <p>I was awarded two scholarships for pursuing my Master's studies. The major scholarship was awarded by my home university (Taiz University, Yemen) while the minor scholarship was awarded by King Fahd University of Petroleum and Minerals, Sauid Arabia</p>
            </li>
            <li>
                <h5>US Patent Application Award <span class="duration"><i class="fa fa-calendar color"></i> Mar. 2014</span></h5>
                <h6><span class="fa fa-trophy"></span> King Fahd University of Petroleum and Minerals</h6>
                <p></p>
            </li>
              <li>
                <h5>Dean's Scholarship for PhD<span class="duration"><i class="fa fa-calendar color"></i> Jan. 2017 - Aug. 2017</span></h5>
                <h6><span class="fa fa-trophy"></span> University of Saskatchewan</h6>
                <p>One of the prestigious scholarships for international students provided by the Deanship of Graduate Studies.</p>
            </li>
            <li>
                <h5>PhD Scholarship <span class="duration"><i class="fa fa-calendar color"></i> Sep. 2017 - Present</span></h5>
                <h6><span class="fa fa-trophy"></span> Queen's University</h6>
                <p></p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
<div style="clear: both"></div>       
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->
