<!-- .pubs -->
<div id="pubs" class="content_2">
<h1 class="h-bloc">Research - My Publications &amp; Services</h1><br> 

<div class="col-md-12">
    <div class="row">

        <!-- Page Blog -->
        <div class="col-md-12" id="blog_page">
            <!-- start Page Blog -->
            <section id="blog-page">

                <!-- Post 1 -->	
                <article id="post-1" class="blog-article">                    

                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-1" >Journal Articles</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <div class="blog-content">
                                                <ol style="list-style-type: decimal !important; margin: 0; padding-left: 25px;">
                                                    <li>
                                                        <b>Taher Ahmed Ghaleb</b>, D. A. da Costa, Y. Zou, Ahmed E. Hassan “Studying the Impact of Noises in Build Breakage Data,” in IEEE Transactions on Software Engineering (TSE), (Accepted August 2019).
                                                    </li>
                                                    <li>
                                                        <br/><b>Taher Ahmed Ghaleb</b>, D. A. da Costa, Y. Zou “An Empirical Study of the Long Duration of Continuous Integration Builds,” in Empirical Software Engineering (EMSE), Springer, (Accepted February 2019).
                                                    </li>
                                                    <li>
                                                        <br/><b>Taher Ahmed Ghaleb</b>, K. Aljasser, M. Al-Turki. “Program Comprehension through Reverse-engineered Sequence Diagrams: A Systematic Review,” in Journal of Software: Evolution and Process, Wiley, 2018.
                                                    </li>
                                                    <li>
                                                        <br/><b>Taher Ahmed Ghaleb</b>. “Techniques and Countermeasures of Website/Wireless Traffic Analysis and Fingerprinting,” Cluster Computing: the Journal of Networks, Software Tools and Applications, Vol.19, No.1, 2016, pp. 427-438.
                                                    </li>  
                                                    <li>
                                                        <br/>F. Azzedin, S. Mohammed, J. Yazdani, <b>Taher Ahmed Ghaleb</b>, M. Ghaleb. “A Cloud-Based Prototype Implementation of a Disease Outbreak Notification System”, International Journal of Computer Science, Engineering and Applications, Vol.5, No.2, 2015.
                                                    </li>    
                                                    <li>
                                                        <br/><b>Taher Ahmed Ghaleb</b>, S. Mohammed. “Novel scheme for labeling XML trees based on bits-masking and logical matching,” Journal of Information Technology Review, Vol. 4, No. 3, 2013, pp. 126-134.
                                                    </li>
                                                </ol>
                                        </div>
                                    </div>
                                </div>	
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 1 -->

                <div class="clear"></div>

                <!-- Post 2 -->
                <!-- Post 3 -->
                <article id="post-2" class="blog-article">                    
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">
                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-2" class="read_more">Conference Papers</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <div class="blog-content">
                                                <ol>
                                                    <li>
                                                        <b>Taher Ahmed Ghaleb</b>. “Software Energy Measurement at Different Levels of Granularity,” in International Conference on Computer and Information Sciences (ICCIS), IEEE, 2019.
                                                    </li> 
                                                    <li>
                                                        <br/>M. Al-Asli, <b>Taher Ahmed Ghaleb</b>. “Review of Signature-based Techniques in Antivirus Products,” in International Conference on Computer and Information Sciences (ICCIS), IEEE, 2019.
                                                    </li> 
                                                    <li>
                                                        <br/><b>Taher Ahmed Ghaleb</b>. “The Role of Open Source Software in Program Analysis for Reverse Engineering,” in International Conference on Open Source Software Computing (OSSCOM), IEEE, 2016.
                                                    </li> 
                                                    <li>
                                                        <br/><b>Taher Ahmed Ghaleb</b>, M. A. Mohammed, E. Ramadan. “Automated Analysis of Flow Cytometry Data: A Systematic Review of Recent Methods,” in International Conference on Open Source Software Computing (OSSCOM), IEEE, 2016.
                                                    </li>    
                                                    <li>
                                                        <br/><b>Taher Ahmed Ghaleb</b>, K. Aljasser, M. Al-Turki. “Implementing the Observer Design Pattern as an Expressive Language Construct,” in International Conference on Software Engineering Advances (ICSEA), ThinkMind, 2015.
                                                    </li>     
                                                    <li>
                                                        <br/><b>Taher Ahmed Ghaleb</b>. “Toward Open-source Compilers in a Cloud-based Environment: The Need and Current Challenges,” in International Conference on Open Source Software Computing (OSSCOM), IEEE, 2015.
                                                    </li>     
                                                    <li>
                                                        <br/><b>Taher Ahmed Ghaleb</b>. “Website Fingerprinting as a Cybercrime Investigation Model: Role and Challenges,” in First International Conference on Anti-Cybercrime (ICACC), IEEE, 2015.
                                                    </li>     
                                                    <li>
                                                        <br/><b>Taher Ahmed Ghaleb</b>. “Wireless/Website Traffic Analysis &amp; Fingerprinting: A Survey of Attacking Techniques and Countermeasures,” in International Conference on Cloud Computing (ICCC), IEEE, 2015.
                                                    </li>     
                                                    <li>
                                                        <br/><b>Taher Ahmed Ghaleb</b>. “Would An Intrusion Detection System Perform Alike When Changing The  Number of Mobile Nodes? An Experimental Evaluation,” in International Conference on Cloud Computing (ICCC), IEEE, 2015.
                                                    </li>     
                                                    <li>
                                                        <br/><b>Taher Ahmed Ghaleb</b>, S. Mohammed. “A Dynamic Labeling Scheme Based on Logical Operators: A Support for Order-Sensitive XML Updates,” in International Conference on Recent Trends in Computing (ICRTC), Procedia Computer Science, Elsevier, Vol. 57, pp. 1211–1218, 2015.
                                                    </li>     
                                                    <li>
                                                        <br/><b>Taher Ahmed Ghaleb</b>, A. A. Alsri, L. Shabaneh, M. K. Niazi. “A Survey of Project Risk Assessment and Estimation Models,” in World Congress on Engineering (WCE), IAENG, 2014.
                                                     </li>    
                                                    <li>
                                                        <br/><b>Taher Ahmed Ghaleb</b>, S. Mohammed. “Novel scheme for labeling XML trees based on bits-masking and logical matching,” in World Congress on Computer and Information Technology (WCCIT), IEEE, 2013.
                                                    </li>  
                                                </ol>
                                        </div>
                                    </div>
                                </div>	
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 2 -->

                <div class="clear"></div>

                <!-- Post 3 -->
                <article id="post-3" class="blog-article">                    
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">
                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-3" class="read_more">Patents</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <div>
                                            <ol>
                                                <li>
                                                    <br/><b>Taher Ahmed Ghaleb</b>, Khalid Abullah Aljasser, Musab A. AlTurki. “Methods, computer readable media, and systems for compiling concise expressive design pattern source code” (<i style="color:orange;">PATENT PENDING</i> - filed to the USPTO in August 2018).
                                                </li>
                                                <li>
                                                    <br/><b>Taher Ahmed Ghaleb</b>, Musab A. AlTurki, Khalid Abullah Aljasser. “Reverse engineering method, system and computer program thereof” (<i style="color:orange;">PATENT PENDING</i> - filed to the USPTO in July 2018).
                                                </li>
                                                <li>
                                                    <br/><b>Taher Ahmed Ghaleb</b>, Salahadin Mohammed. “XML Node Labeling and Querying using Logical Operators,” at the US Patent &amp; Trademark Office, US 9,529,932 (<i style="color:green;">GRANTED</i> in December 2016).
                                                </li>
                                            </ol>
                                            </p>
                                        </div>
                                    </div>
                                </div>	
                            </div>
                        </div>

                    </div>
                </article>

                <!-- End Post 3 -->

                <div class="clear"></div>

                <!-- Post 4 -->
                <article id="post-4" class="blog-article">                    
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">
                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-4" class="read_more">Services</a></div>
                                            <div class="clear"></div>
                                        </div>
					<h4><b>(2019)</b></h4>
					<ol>
					    <li> Co-reviewer for <a href="https://conf.researchr.org/home/icse-2019/">ICSE'19</a></li>
					    <li> Co-reviewer for <a href="https://2019.msrconf.org/">MSR'19</a></li>
					    <li> Co-reviewer for <a href="https://saner2019.github.io/">SANER'19</a></li>
					</ol>

					<h4><b>(2018)</b></h4>
					<ol>
					    <li> Journal referee for <a href="https://www.worldscientific.com/worldscinet/ijseke">International Journal of Software Engineering and Knowledge Engineering</a></li>
					    <li> Co-reviewer for <a href="https://icsme2018.github.io/">ICSME'18</a></li>
					    <li> Co-reviewer for <a href="https://2018.msrconf.org/">MSR'18</a></li>
					    <li> Co-reviewer for <a href="http://saner.unimol.it/">SANER'18</a></li>
					    <li> Co-reviewer for <a href="http://www.icsoc.org/">ICSOC'18</a></li>
					</ol>
                                    </div>
                                </div>	
                            </div>
                        </div>

                    </div>
                </article>

                <!-- End Post 4 -->

            </section>

    <!-- End Page Blog -->
    </div>
  </div>
 </div>
</div>
<!-- End .blog -->
